/* .row {
    display: flex;
    justify-content: left;
}

@media only screen and (min-width: 601px) {
.m8 {
    margin-right: auto;
    margin-left: auto;
}
} */

body {
    background-image: url(../images/boy-child-clouds-346796.jpg);
    background-size: cover;
    font-family: 'ABeeZee', sans-serif;
}